#### Load Dataset

In [21]:
import datetime
from utils import *

ModuleNotFoundError: No module named 'utils'

In [ ]:
DIR_INPUT = "../data/transformed/"

BEGIN_DATE = "2018-06-11"
END_DATE = "2018-09-14"

print("Load  files")
%time transactions_df = read_from_files(DIR_INPUT, BEGIN_DATE, END_DATE)
print(f"{len(transactions_df)} transactions loaded, containing {transactions_df['TX_FRAUD'].sum()} fraudulent transactions")

Load  files
CPU times: total: 391 ms
Wall time: 395 ms
919767 transactions loaded, containing 8195 fraudulent transactions

#### Define Features

In [17]:
transactions_df.head()

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO,TX_DURING_WEEKEND,...,CUSTOMER_ID_NB_TX_7DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW,CUSTOMER_ID_NB_TX_30DAY_WINDOW,CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW,TERMINAL_ID_NB_TX_1DAY_WINDOW,TERMINAL_ID_RISK_1DAY_WINDOW,TERMINAL_ID_NB_TX_7DAY_WINDOW,TERMINAL_ID_RISK_7DAY_WINDOW,TERMINAL_ID_NB_TX_30DAY_WINDOW,TERMINAL_ID_RISK_30DAY_WINDOW
0,680886,2018-06-11 00:00:24,3711,8121,75.81,6134424,71,0,0,0,...,34.0,69.421471,124.0,70.598710,2.0,0.0,10.0,0.0,38.0,0.000000
1,680887,2018-06-11 00:00:25,1320,867,101.89,6134425,71,0,0,0,...,27.0,92.666667,117.0,83.699402,1.0,0.0,10.0,0.0,31.0,0.032258
2,680888,2018-06-11 00:01:46,824,7954,44.72,6134506,71,0,0,0,...,23.0,37.035217,80.0,40.290125,2.0,0.0,14.0,0.0,35.0,0.000000
3,680889,2018-06-11 00:02:40,1085,8595,23.08,6134560,71,0,0,0,...,24.0,55.140833,101.0,54.151386,1.0,0.0,8.0,0.0,27.0,0.000000
4,680890,2018-06-11 00:02:55,346,4909,98.13,6134575,71,0,0,0,...,7.0,57.628571,38.0,63.603158,4.0,0.0,13.0,0.0,30.0,0.000000

In [11]:
list(transactions_df.columns)

['TRANSACTION_ID',
 'TX_DATETIME',
 'CUSTOMER_ID',
 'TERMINAL_ID',
 'TX_AMOUNT',
 'TX_TIME_SECONDS',
 'TX_TIME_DAYS',
 'TX_FRAUD',
 'TX_FRAUD_SCENARIO',
 'TX_DURING_WEEKEND',
 'TX_DURING_NIGHT',
 'CUSTOMER_ID_NB_TX_1DAY_WINDOW',
 'CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW',
 'CUSTOMER_ID_NB_TX_7DAY_WINDOW',
 'CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW',
 'CUSTOMER_ID_NB_TX_30DAY_WINDOW',
 'CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW',
 'TERMINAL_ID_NB_TX_1DAY_WINDOW',
 'TERMINAL_ID_RISK_1DAY_WINDOW',
 'TERMINAL_ID_NB_TX_7DAY_WINDOW',
 'TERMINAL_ID_RISK_7DAY_WINDOW',
 'TERMINAL_ID_NB_TX_30DAY_WINDOW',
 'TERMINAL_ID_RISK_30DAY_WINDOW']

In [ ]:
target = "TX_FRAUD"

# Create list of input features
features = ['TX_AMOUNT','TX_DURING_WEEKEND', 'TX_DURING_NIGHT', 'CUSTOMER_ID_NB_TX_1DAY_WINDOW',
       'CUSTOMER_ID_AVG_AMOUNT_1DAY_WINDOW', 'CUSTOMER_ID_NB_TX_7DAY_WINDOW',
       'CUSTOMER_ID_AVG_AMOUNT_7DAY_WINDOW', 'CUSTOMER_ID_NB_TX_30DAY_WINDOW',
       'CUSTOMER_ID_AVG_AMOUNT_30DAY_WINDOW', 'TERMINAL_ID_NB_TX_1DAY_WINDOW',
       'TERMINAL_ID_RISK_1DAY_WINDOW', 'TERMINAL_ID_NB_TX_7DAY_WINDOW',
       'TERMINAL_ID_RISK_7DAY_WINDOW', 'TERMINAL_ID_NB_TX_30DAY_WINDOW',
       'TERMINAL_ID_RISK_30DAY_WINDOW']

#### Create Validation Test Setup

In [13]:
# Define start, delay, and end dates
start_date_training = "2018-07-25"
delta_train = 7
delta_delay = 7
delta_test = 7

In [ ]:
# Create training, validation, and test sets
from sklearn.model_selection import train_test_split

train_df = transactions_df[(transactions_df['TX_DATETIME'] >= start_date_training) & \
    (transactions_df['TX_DATETIME'] < start_date_training + datetime.timedelta(days=delta_train))]